# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# --- Python Caches & Environments ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env
instance/
.webassets-cache

# --- Database & Migrations ---
*.sqlite3
*.db
# We keep the migrations folder structure but ignore the actual pyc files
migrations/__pycache__/
migrations/*.pyc

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
